
/* Photographer-header */

#photographer-container {
    display: flex;
    max-width: 100%;
    background-color: #FAFAFA;
    border-radius: 5px;
    align-items: center;
    padding: 71px 50px;
}

.photographer-infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.photographer-name {
    color: #D3573C;
    font-size: 64px;
    margin: 0;
}

.photographer-location {
    color: #901C1C;
    font-size: 2em;
}

.photographer-tagline {
    color: #525252
}

.flex-img{
    width:100%;
    display: flex;
    justify-content: center;
}
.flex-button {
    display: flex;
    justify-content: center;
    width:100%;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}
.contact_button:hover{
    color:#000000;
    background-color:#DB8876;
}

.photographer-picture {
    object-fit: cover;
    width: 250px;
    height: 250px;
    border-radius: 100%;
}

/* photographer content */

.filter-container {
    font-weight: 700;
    font-size: 18px;
    display: flex;
    position: relative;


}

.filter-by {
    height: 40px;
    line-height: 40px;
}

#selected-filter {
    color: white;
    width: 140px;
    background-color: #901C1C;
    height: 40px;
    border-radius: 5px;
    text-align: left;
    line-height: 40px;
    padding-left: 15px;
    margin-left: 20px;
}
#drop-down{
    border:none;
    background: none;
}
#drop-down-btn {
    width: 25px;
    position: absolute;
    top: 25px;
    left: 220px;
    cursor: pointer;
    transition: all 0.5s;
}

.filters {
    position: absolute;
    background-color: #901C1C;
    height: 100px;
    width: 140px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 5px;
    row-gap: 15px;
    padding-left: 15px;
    padding-right: 15px;
    left: 60px;
    top: 60px;
    opacity: 0;
}

.filter-container .filters li {
    list-style-type: none;
    color: white;
    cursor: pointer
}

.separate {
    height: 1px;
    width: 100%;
    background-color: white;
}

#photographer-medias {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
    gap: 95px;
}

.media-container {
    width: 25%;
}


.img-media {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
}

.video-media {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
}

.media-text-container {
    color: #901C1C;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 400;
    justify-content: space-between;
}

.media-text-container h2 {
    font-weight: 400;
    flex-grow: 1;
}

.media-text-container p {
    font-weight: 500;
    font-size: 24px;
}

.media-text-container .heart-like {
    margin-left: 10px;
    width:25px;
    height:25px;
    vertical-align: center;
    align-items: center;
    align-self: center;
    justify-self: center;
    line-height: 20px;
    color:#901C1C
}

.photographer-price {
    position: fixed;
    bottom: 0;
    right: 150px;
    background: #DB8876;
    border-radius: 5px 5px 0 0;
    padding: 21px 34px;
    display: flex;
}
.photographer-price img{
    width:20px;
    position: relative;
    top:5px;
}

/* modal */

#contact_modal {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: #C4C4C466;
    top: 0;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 669px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal header {
    margin: 20px 0;
    width: 100%;
}

.modal header h2 {
    font-size: 50px;
    font-weight: normal;
    
}

.modal header img {
    cursor: pointer;
}

#form-signup {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;

}

#form-signup label {
    color: #312E2E;
    font-size: 26px;
}

#form-signup input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
    font-size: 17px;
}

#message {
    height: 170px !important;
    margin-bottom: 26px;
}

/* LightBox */

#lightbox {
    display: none;
}

#lightbox-content {
    border-radius: 5px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    margin: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 50px;
}

.all-lightbox-btn {
    cursor: pointer;
    width: 30px;
    height: 50px;
    position: absolute;
}

#close-lightbox-btn {
    top: 0;
    right: 10px;
}

#left-lightbox-btn {
    left: 10px;

}

#right-lightbox-btn {
    right: 10px;

}

#img-arrow-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.media-lightbox {
    object-fit: cover;
    width: 1050px;
    height: 800px;
}