@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
}

.photographer_section article img {
    height: 200px;
    width: 200px;
}



#photographer-container {
    display: flex;
    max-width: 100%;
    padding: 0 4%;
}



.photographer-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

}

.photographer-name {
    color: #D3573C;
    font-size: 3em;
    margin: 0;
}

.photographer-location {
    color: #901C1C;
    font-size: 2em;
}

.photographer-tagline {
    color: #525252
}

.flex-button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.flex-img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.photographer-picture {
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 100%;
}


#photographer-media-img {
    height: 50%;
    width: 50%;
}